.note{
    width:75vw;
    height:70vh;
    border:0px solid black;
    display:flex;
    justify-content: center;
    position: relative;
    left: 150px;
}
.note1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0px solid blue;
    justify-content: space-evenly;
}
