
.subdiv{
    display: flex;
    border: 0px solid gainsboro;
    height: 90%;
    width: 60%;
    flex-direction: row;
}
.subdiv1{
    display: flex;
    border: 0px solid gainsboro;
    height: 100%;
    width: 60%;
    flex-direction: column;
   align-items: center;
}
.subdiv2{
    display: flex;
    border: 0px solid gainsboro;
    height: 100%;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.f1{
    height: 50%;
    width: 75%;         
}
.f2{
    height: 10%;
    width: 75%; 
    display: flex;
    border: 0px solid black;
    font-size: 15px;
    color: rgb(88, 82, 82);

}
.d1{
    height: 15%; 
    width: 83%; 
    display: flex;
    border: 0px solid rgb(203, 38, 38);
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.d2{
    height: 10%;
    width: 80%;
    display: flex;
    border: 0px solid red;
}
.d3{
    display: flex;
    border: 1px solid red;
    height: 10%;
    width: 83%;
    font-size: 22px;

}
.d4{
    display: flex;
    border: 1px solid hwb(60 0% 0%);
    height: 17%;
    width: 86%;
    justify-content: space-evenly;
    align-items: center;
}
.d5{
    height: 40%;
    width: 45%;
    border:1px solid gainsboro ;
    border-width: 1px;
    border-radius: 5px 5px ;
    color: rgb(103, 96, 96);
}
.d6{
    height: 40%;
    width: 45%;
    border:1px solid gainsboro ;
    border-width: 1px;
    border-radius: 5px;
    color: rgb(103, 96, 96);
}
.d9{
    height: 40%;
    width: 100%;
}
.e1{
    display: flex;
    border: 1px solid hwb(60 0% 0%);
    height: 8%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.e2{
    height: 100%;
    width: 93%;
    border:1px solid gainsboro ;
    border-width: 1px;
    border-radius: 5px;
    color: rgb(103, 96, 96);
}
.e3{
    display: flex;
    /* border: 1px solid hwb(60 0% 0%); */
    height: 6%;
    width: 79%;
    font-size: 13px;
    color:rgb(104, 98, 98);

}
.e4{
    display: flex;
    /* border: 1px solid hwb(60 0% 0%); */
    height: 3%;
    width: 83%;
    font-size: 15px;
    font-weight: 600;
    color: rgb(23, 141, 237);
    align-items: center; 
}
.g1{
    display: flex;
    /* border: 1px solid hwb(60 0% 0%); */
    height: 14%;
    width: 86%;
    justify-content: space-evenly;
    align-items: flex-end;
}
.g2{
    height: 55%;
    width: 45%;
    border:1px solid gainsboro ;
    border-width: 1px;
    border-radius: 5px 5px ;
    color: rgb(103, 96, 96);
}
.g3{
    height: 55%;
    width: 45%;
    border:1px solid gainsboro ;
    border-width: 1px;
    border-radius: 5px;
    color: rgb(103, 96, 96);
}
.g4{
    display: flex;
    /* border: 1px solid hwb(60 0% 0%); */
    height: 6%;
    width: 79%;
    font-size: 13px;
    color:rgb(104, 98, 98);
   text-align: start;
    
}
.g5{
    display: flex;
    /* border: 1px solid hwb(60 0% 0%); */
    height: 10%;
    width: 82%;
    font-size: 13px;
    flex-direction: row;
  align-items: center;
}
#g6{
    height: 50%;
    width: 5%;
    border-width: 2px;
    border-color: 1px solid black;
    
}
.g7{
  display: flex;
  /* border: 1px solid black; */
  height: 60%;
  width: 35%;
  justify-content: center;
  align-items:center;
  color: rgb(93, 88, 88);
  font-size: 14px;
  font-weight: 500;
}.t1{
    display: flex;
    /* border: 1px solid blue; */
    height: 20%;
    width: 100%;
    flex-direction: row;
}
.t2{
    display: flex;
    /* border: 1px solid blue; */
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    color: rgb(23, 141, 237);
    font-weight: 600;
}
.t3{
    display: flex;
    /* border: 1px solid blue; */
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}
#t4{
    background-color:rgb(23, 141, 237); 
    border-width: 0px;
    height: 34%;
    width: 32%;
    border-radius: 8%;
    color: white;
}

